* {
  padding: 0px;
  box-sizing: border-box;
}

.footer {
  position: flex;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.contact {
  margin-right: 15px;
}

.contact button {
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
}

.contact button h1 {
  font-weight: 500;
}

.logo_contianer h1 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-left: 15px;
}

@media screen and (max-width: 880px) {
  .contact button h1 {
    font-size: 1.2em;
    font-weight: 500;
  }

  .logo_contianer h1 {
    font-size: 1.2em;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  .contact button h1 {
    font-size: 0.8em;
    font-weight: 500;
  }

  .logo_contianer h1 {
    font-size: 0.8em;
    font-weight: 600;
  }
}
